<div class="container">
  <div *ngIf="isLoading">loading</div>

  <div *ngIf="!isLoading && isError">Person not found</div>

  <mat-card *ngIf="!isLoading && person" class="person-detail-card">
    <mat-card-title>{{ person.name }}</mat-card-title>
    <mat-card-content>
      <p>Height: {{ person.height }}</p>
      <p>Mass: {{ person.mass }}</p>
      <p>Hair Color: {{ person.hair_color }}</p>
      <p>Skin Color: {{ person.skin_color }}</p>
      <p>Eye Color: {{ person.eye_color }}</p>
      <p>Birth Year: {{ person.birth_year }}</p>
      <p>Gender: {{ person.gender }}</p>

      <mat-divider></mat-divider>

      <h3>Films</h3>
      <mat-list>
        <mat-list-item *ngFor="let film of person.films">{{
          film
        }}</mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h3>Species</h3>
      <mat-list>
        <mat-list-item *ngFor="let species of person.species">{{
          species
        }}</mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h3>Starships</h3>
      <mat-list>
        <mat-list-item *ngFor="let starship of person.starships">{{
          starship
        }}</mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h3>Vehicles</h3>
      <mat-list>
        <mat-list-item *ngFor="let vehicle of person.vehicles">{{
          vehicle
        }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
