<div class="container">
  <div *ngIf="isLoading">loading</div>

  <div *ngIf="!isLoading && isError">Person not found</div>

  <mat-card *ngIf="!isLoading && person" class="person-detail-card">
    <mat-card-title>{{ person.name }}</mat-card-title>
    <mat-card-content>
      <p>Height: {{ person.height }}</p>
      <p>Mass: {{ person.mass }}</p>
      <p>Hair Color: {{ person.hair_color }}</p>
      <p>Skin Color: {{ person.skin_color }}</p>
      <p>Eye Color: {{ person.eye_color }}</p>
      <p>Birth Year: {{ person.birth_year }}</p>
      <p>Gender: {{ person.gender }}</p>

      <mat-divider></mat-divider>

      <div *ngIf="isLoadingAdditional">Loading Detail</div>
      <div *ngIf="!isLoadingAdditional">
        <div *ngIf="films.length">
          <h3>Films</h3>
          <ul>
            <li *ngFor="let film of films">{{ film.title }}</li>
          </ul>
        </div>

        <div *ngIf="species.length">
          <mat-divider></mat-divider>
          <h3>Species</h3>
          <ul>
            <li *ngFor="let species of species">{{ species.name }}</li>
          </ul>
        </div>

        <div *ngIf="starships.length">
          <mat-divider></mat-divider>

          <h3>Starships</h3>
          <ul>
            <li *ngFor="let starship of starships">{{ starship.name }}</li>
          </ul>
        </div>

        <div *ngIf="vehicles.length">
          <mat-divider></mat-divider>

          <h3>Vehicles</h3>
          <mat-list>
            <mat-list-item *ngFor="let vehicle of vehicles">{{
              vehicle.name
            }}</mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
