.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  overflow: scroll;

  @media screen and (min-width: 1024px) {
    justify-content: center;
  }
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.people-list-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  @media screen and (min-width: 965px) {
    justify-content: flex-start;
  }

  .person-card {
    width: 300px;
    padding: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

    @media screen and (min-width: 965px) {
      width: calc((100% / 3) - 16px + (16px / 3));
    }

    @media screen and (min-width: 1920px) {
      width: calc((100% / 4) - 16px + (16px / 4));
    }

    mat-card-actions {
      display: flex;
      justify-content: center;

      button {
        background-color: gray;
        color: white;
        padding: 8px;
        border-radius: 10px;
      }
    }
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

button {
  background-color: gray;
  padding: 8px;
  color: white;
  border-radius: 5px;

  &:disabled {
    background-color: #e0e0e0;
    color: #757575;
  }
}
